{% extends 'layout/app.html' %}

{% block content %}
<h2>Add Device</h2>
<hr>
<form class="ui form" action="{% url 'Device:add-device' %}" method="POST">
    {% csrf_token %}
    <div class="field">
        <label>First Name</label>
        {{form.name}}
    </div>
    <div class="field">
        <label>Condition</label>
          {{form.condition}}
    </div>
    <div class="field">
        <div class="ui checkbox">
          {{form.available}}
          <label>Available</label>
        </div>
    </div>
    
    <button class="ui button" type="submit">Add Device</button>
</form>
{% endblock content %}