{% extends 'layout/app.html' %}
{% block content %}
<h2>Device Chekout</h2>
<hr>
<form class="ui form" action="{% url 'Device:checkin-device' device.id %}" method="POST">
    {% csrf_token %}

    <table class="ui table">
        <thead>
            <tr>
                <th colspan="3">
                    {{device.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="collapsing">
              <td>Employee</td>
              <td>{{device_log.employee.user.first_name}}  {{device_log.employee.user.last_name}}</td>
            </tr>
            <tr class="collapsing">
                <td>Chekout Date</td>
                <td>{{device_log.checkout_date}}</td>
            </tr>
            <tr class="collapsing">
                <td>Condition (Checkout)</td>
                {% if device_log.condition_at_checkout_day == "1"  %}
                    <td >Good</td>
                {% elif device_log.condition_at_checkout_day == "2" %}
                    <td >Average</td>
                {% elif device_log.condition_at_checkout_day == "3" %}
                    <td >Bad</td>
                {% endif %}
            </tr>
            <tr class="collapsing">
                <td>Condition (Checkin)</td>
                <td>
                    <select name="condition" id="">
                        <option value="" disabled selected>Condition</option>
                        <option value="1">Good</option>
                        <option value="2">Average</option>
                        <option value="3">Bad</option>
                    </select>
                </td>
            </tr>
            <tr class="collapsing">
                <td>Comment</td>
                <td>
                    <textarea name="comment" id="" rows="3"></textarea>
                </td>
            </tr>
          </tbody>
    </table>



    <button class="ui button" type="submit">Checkin</button>
</form>
{% endblock content %}