{% extends 'layout/app.html' %}

{% block content %}
<div style="display: flex; justify-content: space-between;">
    <h3>Employee List</h3>
    <a class="ui primary button" href="{% url 'Employee:add-employee' %}">Add Employee</a>
</div>

<hr>
<table class="ui celled table">
    <thead>
      <tr><th>Name</th>
      <th>Email</th>
      <th>Is Stuff</th>
      <th>Action</th>
    </tr></thead>
    <tbody>
        
        {% for employee in employees  %}
        <tr>
            <td >{{employee.user.first_name}} {{employee.user.last_name}}</td>
            <td >{{employee.user.email}}</td>
            {% if employee.is_staff == True %}
                <td >Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}
            <td ><a href="">View</a></td>
                
            

        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}